**/*.png
**/*.jpg
**/*.jpeg
**/*.avi
**/*.gif
**/*.pdn
**/*.mp4
**/*.bat
**/*.veg
**/*.mp3
**/__pycache__/
Imagens/*
!Imagens/baixaImagens.py
ajudaTarefas/biblioteca/livrosBD
ajudaTarefas/biblioteca/sistema
ajudaTarefas/superAutoIndent/*.txt
artificialInteligence/MarkovChainChat/lettering/person_1
artificialInteligence/MarkovChainChat/lettering/person_2
artificialInteligence/MarkovChainChat/lettering/chain/*.txt
artificialInteligence/MarkovChainChat/lettering/ConversaDoWhatsApp.txt
artificialInteligence/MarkovChainChat/storying/FanficAnime
artificialInteligence/MarkovChainChat/storying/FanficGeneral
artificialInteligence/MarkovChainChat/storying/oldVersion/*.txt
artificialInteligence/MarkovChainChat/wordering/chain/*.txt
artificialInteligence/MarkovChainChat/wordering/ConversaDoWhatsApp.txt
artificialInteligence/MarkovChainChat/wordering/ConversaResultados.txt
artificialInteligence/MarkovChainChat/wordering/person_1.txt
artificialInteligence/MarkovChainChat/wordMaker/**/*.txt
audio/leStory
/*.lnk