Passa uma mensagem p Roberto, assim como quem não quer nada e perg8 se ele s@v| de alguma casa p alugar
Posso ter ouvido errado mas ele tá a aqui conversando com a Jana e ela tá a falando de mudar, que já acostumou aqui
Mas como a música tá a alta p variar, naodeu p entender direito
Vai q ela vai sair daqui?
A Josy pode vir p cá 😁
Não sei por qual motivo eles s| mudariam mas ......
Se eu perguntar cai dar na pinta pq ele né viu aqui>fora
Vc consegue? Senão peçoseu pai
Eu não tenho contato do Roberto 🫠
Acho que ia ficar um pouco na cara, o primeiro contato ser agora
Tá vou ver aqui e depois te falo
Blzzzz
Minja foto de perfil ficou boa?
Minja foto de perfil ficou boa? Vc tá linda 😍
